<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>padre</string>
	<key>CFBundleGetInfoString</key>
	<string>Perl Application Development and Refactoring Environment Copyright © 2008 - 2011 The Padre development team as listed in Padre.pm. http://padre.perlide.org/</string>
	<key>CFBundleIconFile</key>
	<string>padre.icns</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Padre IDE</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>Perl Application Development and Refactoring Environment 0.90.0.116</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.90.0.116</string>
	<key>CGDisableCoalescedUpdates</key>
	<false/>
</dict>
</plist>

